<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <RollingFile name="RollingFile" fileName="./logs/sample-jaxrs.log"
                     filePattern="./logs/sample-jaxrs-%i.log">
            <PatternLayout pattern="%p [%d{yyyyMMdd HH:mm:ss.SSS}] - %-12C{} -%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="4 MB" />
            </Policies>
            <DefaultRolloverStrategy max="99"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [sample-jaxrs] [%d{yyyyMMdd HH:mm:ss.SSS}] - %-12C{1} -%L - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root level: en desarrollo DEBUG , en produccion INFO -->
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>